---
import BaseLayout from "../../layouts/BaseLayout.astro"

import PostPreview from "../../components/PostPreview.astro"

---

<BaseLayout pageTitle="Posts">
    <div class="posts">
        <PostPreview></PostPreview>
        <PostPreview></PostPreview>
        <PostPreview></PostPreview>
        <PostPreview></PostPreview>
        <PostPreview></PostPreview>
    </div>
    <!-- <div>Pagination Here</div> -->
</BaseLayout>

<style>
    .posts {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }
</style>