---
import Header from '@/src/components/Header.astro';
const { pageTitle, showBack } = Astro.props;
---

<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width' />
        <meta name='generator' content={Astro.generator} />
        <meta name='robots' content='noindex' />
        <title>{pageTitle}</title>
    </head>
    <body>
        <Header />
        {
            showBack && (
                <div class='mx-auto flex w-[50.7rem] mb-5'>
                    <button
                        onclick='history.back()'
                        class='focus-outline flex hover:opacity-75'>
                        <svg
                            xmlns='http://www.w3.org/2000/svg'
                            viewBox='0 -1 25 25'
                            fill='currentColor'
                            stroke='currentColor'
                            class='w-7 h-7 inline-flex justify-center items-center'>
                            <path d='M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z' />{' '}
                        </svg>
                        <span class='text-lg inline-flex justify-center items-center'>
                            Back
                        </span>
                    </button>
                </div>
            )
        }
        <div class='w-[50rem]'>
            <slot />
        </div>
    </body>
    <style>
        * {
            box-sizing: border-box;
            color: white;
        }
        body {
            background-color: #18171b;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    </style>
</html>
