---
import Header from '@/src/components/Header.astro';
const { pageTitle } = Astro.props;
---

<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <meta name='viewport' content='width=device-width' />
        <meta name='generator' content={Astro.generator} />
        <meta name="robots" content="noindex">
        <title>{pageTitle}</title>
    </head>
    <body>
        <Header />
        <div class='page-title'>
            <h1>{pageTitle}</h1>
        </div>
        <slot />
    </body>
    <style>
        html {
            display:inline-grid
        }
        * {
            box-sizing: border-box;
            margin: 0px;
            color: white;
        }
        body {
            background-color: #18171b;
            width: 100%;
            max-width: 48rem;
            display: flex;
            flex-direction: column;
            justify-self: center;
        }
        .page-title {
            color: white;
            font-size: 2.5rem;
            margin-bottom: 2rem;
        }
    </style>
</html>
