---
import BaseLayout from './BaseLayout.astro';

const { postUrl, postTitle, postDescription, postPublishDate, postTags } =
    Astro.props;

---

<BaseLayout>
    <article class="prose dark:prose-invert">
        <h1>{postTitle}</h1>
        <slot />
    </article>
</BaseLayout>
